<div class="content-blocks">
{% set blocks = entry.contentbuilder.all() %}

	{% for block in blocks %}
	
		{% if block.type == "afbeeldingTekst" %}
			{% include '_partials/contentblokken/afbeelding-tekst.html' %}

		{% elseif block.type == "mediaVolleBreedte" %}
			{% include '_partials/contentblokken/fullwidth-media.html' %}

        {% endif %}

    {% endfor %}
</div>