<footer>
    Footer


    {% import _self as macros %}
                
    {% set nodes = craft.navigation.nodes()
        .handle('avgMenu')
        .level(1)
        .all() %}

    <ul class="navbar-nav mr-auto">
        {% for node in nodes %}
            {{ macros.navigationNodes(node) }}
        {% endfor %}
    </ul>
    
    {% macro navigationNodes(node) %}
        {% import _self as macros %}
    
            {% if node.hasDescendants %}

            <li class="nav-item dropdown {% if node.active == 1 %}active{% endif %}">
            <a class="nav-link dropdown-toggle" href="{{ node.url }}" id="dropdownOf{{ node.title }}" role="button" aria-haspopup="true" aria-expanded="false">
                {{ node.title }}
            </a>
                <div class="dropdown-menu" aria-labelledby="dropdownOf{{ node.title }}">
                    {% for subnode in node.children.all() %}
                    <a class="dropdown-item {% if subnode.active == 1 %}active{% endif %}" href="{{subnode.url}}">{{subnode.title}}</a>
                    {% endfor %}
                </div>
            </li>

            {% else %}

            <li class="nav-item {% if node.active == 1 %}active{% endif %}">
                <a class="nav-link" href="{{ node.url }}">{{ node.title }}</a>
            </li>

            {% endif %}
    {% endmacro %}
</footer>