{% extends "_base.twig" %}

{% block body %}
{% include '_partials/nav.html' %}
{% include '_partials/header.html' %}

<div id="master-wrapper">

    {% block content %}
    {% endblock %}
    
</div>

{% include '_partials/footer.html' %}
{% endblock %}